<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../package/vue.js" type="text/javascript" charset="UTF-8"></script>

    <title>vue组件</title>
</head>

<body>

    <div id="app">
        {{message}}
        <p>Using mustaches: {{ rawHtml }}</p>
        <span>Using v-html directive: <span v-html="rawHtml"></span></span>
        <br>
        <button id="keyid" v-bind:disabled="isButtonDisabled" v-on:click="onClick">按钮</button>
        {{ ok ? 'YES' : 'NO' }}
        <a v-bind:href="url" v-on:click="doSomething">百度</a>
        <a :href="url">百度</a>
        <a :[href]="url">{{fullName}}</a>
        <h1>自定义组件</h1>
        <input type="text" v-model="title"></input>
        <button-counter title="北京"></button-counter>
        <button-counter :title="title" v-on:my-event="onEvent"></button-counter>
        <base-checkbox v-model="lovingVue"></base-checkbox>
    </div>
    <script src="index.js"></script>
</body>

</html>